@page
@model RegisterConfirmationModel

<script>
    window.onload = function() {
        window.location.href = document.getElementById('confirm-link').getAttribute('href');
    };
</script>

@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p style="visibility: hidden;">
        This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
        Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
    </p>
    }
    else
    {
    <p style="visibility: hidden;">
            Please check your email to confirm your account.
    </p>
    }
}

