div.fileinputs {
	position: relative;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

input.file {
	position: relative;
	text-align: right;
	opacity: 0;
	z-index: 2;
	width: 880px;
	height: 593px;
}

.modest {
	border: 0px;
	padding: 40px 140px;
}