.bottom-button {
    position: absolute;
    bottom: 85px;
    left: 50%;
    transform: translateX(-50%);
}

.tdEpoc {
    width: 90px;
    text-align: center;
}

.my-custom-scrollbar {
    position: relative;
    height: 460px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.titleJardim {
    color: green;
    padding-top: 15px;
    padding-bottom: 40px;
}