@page
@model plantando_bem.RazorPages.Pages.Identifica.IdentificaPlanta
@{
    ViewData["Title"] = "IdentificaPlanta";
}

<h1>@ViewData["Title"]</h1>

<link rel="stylesheet" href="~/css/identificaPlanta.css"/>

<form method="post" enctype="multipart/form-data" id="myDropzone" class="modest">
    <div class="fileinputs">
        <input type="file" name="file" class="file"/>
        <div class="fakefile">
            <img id="imgIdent" src="~/img/enviaImagem.png"/>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

<script>
    function previewImage(event) {
        var input = event.target;
        var img = document.getElementById('imgIdent');
        var reader = new FileReader();

         reader.onload = function() {
            img.src = reader.result;
            img.style.width = "100%";
            img.style.display = "block";
            img.style.margin = "0 auto";
        };

        reader.readAsDataURL(input.files[0]);
    }

    var fileInput = document.querySelector('input[type="file"]');
    fileInput.addEventListener('change', previewImage);
</script>