@page
@model plantando_bem.RazorPages.Pages.Identifica.IdentificaPlantaUsers
@{
    ViewData["Title"] = "Ajude a identificar plantas:";
}

<h2 style="color: green;">@ViewData["Title"]</h2>
<link rel="stylesheet" href="~/css/identificaPlanta.css"/>

<div class="table-wrapper-scroll-y my-custom-scrollbar">
    @foreach (var plantas in Model.UserIdentPlantas!)
    {
        <table class="table table-borderless">
            <tr>
                <td class="col-md-3"></td>
                <td>
                    <img src="data:image/png;base64,@(Convert.ToBase64String(plantas.PlantaIdentifica!.Imagem!))" alt="Imagem da planta" class="imgsPlanta" style="padding-left: 20%;"/>
                </td>
            </tr>
            <tr>
                <td class="col-md-3"></td>
                <td>
                    @if(plantas.PlantaIdentifica!.Descricao != null) {
                        @plantas.PlantaIdentifica!.Descricao
                    }
                    @if(plantas.PlantaIdentifica!.Descricao == null) {
                        <a class="w-50 btn btn-lg btn-success bottom-button" asp-page="/Identifica/IdentificaAdicionaDescricao" asp-route-id="@plantas.PlantaIdentificaId" style="margin-left: 60px;">Ajudar a indentificar!</a>
                    }
                </td>
            </tr>
        </table>   
    }
</div>