@page
@model IndexModel

<a id="pagLogin" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login" style="visibility: hidden;"></a>

<script>
    window.onload = function() {
        window.location.href = document.getElementById('pagLogin').getAttribute('href');
    };
</script>