@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<link rel="stylesheet" href="~/css/menu.css" />
<script src="~/js/menu.js"></script>

@if (SignInManager.IsSignedIn(User)) {
    <div class="col-md-2 div-menu colVerde">
        <nav class="sidebar">
            <ul class="navbar-nav">
                <li class="nav-item d-flex align-items-center" style="padding-bottom: 20%;">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                         <table style="margin-left: 20px; margin-top: 20px;">
                            <tr>
                                <th>
                                    <span class="material-icons-round md-36 verde">account_circle</span>
                                </th>
                                <th style="padding-left: 10px;">
                                    @User.Identity?.Name, Bem Vindo!
                                </th>
                            </tr>
                        </table>
                    </a>
                </li>
                <li id="li1" class="nav-item borda-verde fnd-verd-claro">
                    <a id="a1" class="nav-link text-dark" asp-area="" asp-page="/Calendario/CalendarioPrincipal">
                        <table style="margin-left: 5%;">
                            <tr>
                                <td id="td1" style="width: 182px;">
                                    Calendário Principal
                                </td>
                                <td>
                                    <span id="ico1" class="material-icons-round md-28 verde">event_available</span>
                                </td>
                            </tr>
                        </table>
                    </a>
                </li>
                <li id="li2" class="nav-item borda-verde fnd-verd-claro-2">
                    <a id="a2" class="nav-link text-dark" asp-area="" asp-page="/Jardim/MeuJardim">
                        <table style="margin-left: 5%;">
                            <tr>
                                <td id="td2" style="width: 180px;">
                                    Meu Jardim
                                </td>
                                <td>
                                    <img id="ico2" src="~/img/carrot_verde.png" alt="carrot_verde" style="width: 30px; height: 30px;"/>
                                </td>
                            </tr>
                        </table>
                    </a>
                </li>
                <li id="li3" class="nav-item borda-verde fnd-verd-claro">
                    <a id="a3" class="nav-link text-dark" asp-area="" asp-page="/Irrigacao/Irrigacoes">
                        <table style="margin-left: 5%;">
                            <tr>
                                <td id="td3" td style="width: 142px;">
                                    Irrigação do Jardim
                                </td>
                                <td style="padding-left: 40px;">
                                    <span id="ico3" class="material-icons-round md-28 verde">local_drink</span>
                                </td>
                            </tr>
                        </table>
                    </a>
                </li>
                <li id="li4" class="nav-item borda-verde fnd-verd-claro-2">
                    <a id="a4" class="nav-link text-dark" asp-area="" asp-page="/Identifica/IdentificaPlanta">
                        <table style="margin-left: 5%;">
                            <tr>
                                <td id="td4" style="width: 142px;">
                                    Identificar Planta
                                </td>
                                <td style="padding-left: 40px;">
                                    <span id="ico4" class="material-icons-round md-28 verde">image</span>
                                </td>
                            </tr>
                        </table>
                    </a>
                </li>
                <li id="li5" class="nav-item borda-verde fnd-verd-claro">
                    <a id="a5" class="nav-link text-dark" asp-area="" asp-page="/Pragas/InformacoesPragas">
                        <table style="margin-left: 5%;">
                            <tr>
                                <td id="td5" style="width: 142px;">
                                    Informações Pragas
                                </td>
                                <td style="padding-left: 40px;">
                                    <span id="ico5" class="material-icons-round md-28 verde">bug_report</span>
                                </td>
                            </tr>
                        </table>
                    </a>
                </li>
                <li class="nav-item borda-verm fnd-verm-claro">
                    <table style="margin-left: 5%;">
                        <tr>
                            <td style="width: 142px;">
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
                                    <button  type="submit" class="nav-link btn btn-link text-dark">Deslogar</button>
                                </form>
                            </td>
                            <td style="padding-left: 40px;">
                                <span class="material-icons-round md-28 vermelho">person_remove</span>
                            </td>
                        </tr>
                    </table>

                </li>
            </ul>
        </nav>
        <div class="my-div">
            <img src="~/img/logo.jpg" class="imgMenu" alt="Logo Plantando Bem"/>
        </div>
    </div>
}